body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #fafafa;
    color: #262626;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 900px;
    margin: 20px;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: relative;
    overflow: hidden;
    border: 15px solid #e1e1e1;
}

.container::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 10px;
    background-color: #ddd;
    border-radius: 4px;
}

h2 {
    text-align: center;
    color: #262626;
    font-weight: 600;
    margin-bottom: 20px;
}

.card {
    border: none;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-body {
    padding: 10px;
}

.card-text {
    font-size: 14px;
    margin: 5px 0;
    color: #262626;
}

.btn-warning, .btn-danger, .btn-secondary, .btn-primary {
    font-size: 14px;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: transparent;
    border: none;
    color: #3897f0;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-warning:hover, .btn-danger:hover, .btn-secondary:hover, .btn-primary:hover {
    opacity: 0.8;
}

.btn-secondary {
    color: #ed4956;
}

.btn-secondary:hover {
    opacity: 0.8;
}

.btn-add {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(45deg, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

.btn-add:hover {
    background: linear-gradient(45deg, #ff6347, #ff8c00);
}

.btn-add i {
    font-size: 18px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.likes-count {
    font-weight: bold;
}

.unlike-btn, .like-btn {
    border: none;
    background: none;
    cursor: pointer;
}
